#include <winuser.rh>
#include <winver.h>
#include "resource.h"

1 VERSIONINFO
FILEVERSION VERSION_MAJOR,VERSION_MINOR,VERSION_PATCH,0
FILEVERSION VERSION_MAJOR,VERSION_MINOR,VERSION_PATCH,0
#if DEBUG
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS VS_FF_DEBUG | VS_FF_PRIVATEBUILD
#endif
FILEOS VOS_NT
FILETYPE VFT_APP
FILESUBTYPE 0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName", "No company"
			VALUE "FileDescription", "Enables user to use Vol+ and Vol- to control Windows Media Player volume."
			VALUE "FileVersion", VERSION_STRING
			VALUE "InternalName", "mpVolCtrl"
#if _WIN64
			VALUE "OriginalFilename", "mpVolCtrl64.exe"
#else
			VALUE "OriginalFilename", "mpVolCtrl.exe"
#endif
#if !NDEBUG
			VALUE "PrivateBuild", "This is a DEBUG build"
#endif
			VALUE "ProductName", PRODUCT_NAME
			VALUE "ProductVersion", VERSION_STRING
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252
	END
END
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "mpVolCtrl.exe.manifest"
IDI_ICON ICON "icon.ico"


IDR_TRAY_POPUPMENU MENU
BEGIN
    POPUP "TrayContextMenu"
    BEGIN
        MENUITEM EVAL_STRINGIFY(Disable PRODUCT_NAME_RAW), IDM_TRAY_POPUPMENU_TOGGLE
        MENUITEM "Exit", IDM_TRAY_POPUPMENU_EXIT
    END
END
